body {
    /* font-size: 1.5em; */
    background-color: #f7f7f7;
}

.quiz-div {
    margin: 1em;
}

.character {
    font-size: 1em;
}

.button-spacing {
    padding-top: 1em;
    padding-bottom: 1em;
}